# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Окружение
.env
.env.local

# Docker
*.log

# Node (если будет)
node_modules/
npm-debug.log

# Системные
.DS_Store
Thumbs.db
